# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual envs
venv/
env/
ENV/
.venv/

# Data
data/
log/
charts/
*.db

# OS-specific
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Editors/IDEs
.vscode/
.idea/

# Build/Dist
build/
dist/
*.tar.gz
*.zip
*.bak
*.tmp
