# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual env
venv/

# Data
data/

# OS-specific
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# PyCharm
.idea/

# Others
build/
dist/
